<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulo</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/articulos/articulo_detail.css">

</head>
<body>

    <header id="header">


    </header>

    <main>
   

        <section class="articulos">

            <div class="articulos__container">
                
                <!-- se genera el articulo por id -->
            
                <div class="articulo__card">

                    <div class="articulo__image__container">
                        <img src="../../resources/images/Screenshot 2024-09-12 at 10-33-39 Nivea - marcas.png" class="articulo__image" alt="">
                    </div>

                    <div class="articulo__content">
                        <h3 class="articulo__title">TEST</h3>
                        <p class="articulo__precio">$10.5test</p>
                        
                        <div class="articulo__buttons">
                            <input class="articulo__button--cantidad" type="number" min="1" max="99">
                            <button class="articulo__button--agregar">Agregar</button>

                        </div>
                        <p class="articulo__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perferendis et corrupti sit ex, cupiditate iste repellat dolorem facilis voluptate dignissimos, sed cumque molestiae dicta provident nesciunt saepe amet. Quis.
                
                        </p>
    
                    </div>
          
                </div>
               

            </div>

        </section>

    </main>

    <footer id="footer">

    </footer>

    <script type="module" src="../../js/main.js"></script>
    <script type="module" src="../../js/articuloDetail.js"></script>
    <script type="module" src="../../js/carrito/carrito.js"></script>

    
</body>
</html>