<div class="edit__overlay">

    <div class="edit__container">
        <h2 class="edit__title">Editar datos personales:</h2>

        <form class="edit__form" >
    
            <label for="username">Username: </label>
            <input type="text" id="username" class="edit__input">
            <label for="email">Email: </label>
            <input type="email" id="email" class="edit__input">

            <button class="button__principal" type="submit">Enviar</button>
        </form>
    </div>

</div>