<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User me</title>

    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/user/user_me.css">
    <link rel="stylesheet" href="../../styles/user/edit_me.css">

</head>
<body>

    <div class="edit">

    </div>

    <header id="header">

    </header>
    
    <!-- detalles personales -->
    <main>
        <section class="section__detalles">

            <div class="detalles__container">

                <div class="detalles__main">
                    <div class="detalles__main__top">
                        <img class="detalles__main__image" src="../../resources/images/Screenshot 2024-09-12 at 10-33-39 Nivea - marcas.png" alt="">
                        <h2 id="rolUser"></h2>
                        <h3 id="usernameUser" class="detalles__main__username"></h3>
                    </div>

                    <div class="detalles__main__content">
                        
                    </div>
                </div>

                <div class="detalles__card">
                        
                    <div class="detalles__card-top">
                        <h2 class="detalles__title">Detalles Personales</h2>

                        <button class="detalles__card__button">Editar</button>
                    </div>
         

                    <div class="detalles__content">

                        <!-- <p class="username">
                            Username: <span id="usernameValue" class="value"></span>
                        </p>
                        <p class="email">
                            Email: <span id="emailValue" class="value"></span>
                        </p> -->

                   
                    </div>

                </div>

            </div>
        </section>

    </main>
    

    <script type="module" src="../../js/main.js"></script>
    <!-- <script type="module" src="../../js/user_me.js"></script>  -->
    <script type="module" src="../../js/utils/editPerfil.js"></script> 
</body>
</html>