<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../../styles/auth/login.css">
</head>
<body>
    
    <main>
        <section class="section__login">

            <div class="login__container">

                <h2 class="login__title">Iniciar Sesión</h2>

                <form class="login__form">
    
                    <label class="login__label" for="username">Username</label>
                    <input class="login__input" type="text" id="username" placeholder="Usuario">
                    
                    <label class="login__label" for="password">Contraseña</label>
                    <input class="login__input" type="password" id="password" placeholder="Contraseña">
    
                    <button class="login__button" type="submit">Iniciar Sesión</button>
    
                </form>

                <p class="login__footer">
                    No tenés cuenta? 
                    <a class="login__redirect" href="./register.html">
                        Registrate
                    </a>
                </p>
            </div>

            <div class="portada">
            </div>
         
        </section>
    </main>

    <script src="../../js/login.js"></script>
</body>
</html>