
.articulos_listHead{
    background-color: red;
}

.articulos_itemHead{
    padding: 16px;
    background-color: rgb(129, 129, 238);

}

.articuloRow{
    background-color: rgb(205, 205, 252);

}

.articulos_value{
    padding: 8px 8px;
    text-align: center;
}