<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    
    <p>Este es mi panel admin</p>

    <form class="login__form">
    
        <label class="login__label" for="inputUsername"></label>
        <input class="login__input" type="text" id="inputUsername" placeholder="Usuario">
        
        <div class="login__passwordContainer">
            <label class="login__label" for="inputPassword"></label>
            <i class="login__icon fa-solid fa-eye"></i>
            <input id="inputPassword" class="login__input" type="password" placeholder="Contraseña">

        </div>
      
        <button class="login__button" type="submit">Iniciar Sesión</button>

    </form>


    <script type="module" src="../../js/admin/adminLogin.js"></script>
</body>
</html>