* {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: red;
    width: 100%;
    height: 20vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* HEADER */
.header__container{

    width: 90%;
    height: 100%;
    background-color: rgb(133, 133, 219);
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 

}


.header__search{

    min-height: 50%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header__form{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 8px;
}

.header__input{
    
    width: 100%;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 1.07rem;
    border-radius: 8px;
}

.header__button{
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255);
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px;
    font-size: 1.07rem;
    cursor: pointer;
}

.header__session:hover{
    color: black;
}




/* NAVBAR */
.navbar{

    background-color: rgb(34, 142, 243);
    flex: 1;

}

.navbar__list{
    background-color: azure;
    min-height: 100%; /* Definir una altura */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main{
    background-color: blue;
    width: 100%;
    height: auto;
}

/* SECTION BANNER */
.banner{

    width: 100%;
    background-color: aqua;
}

.banner__container{
    width: 100%;
    height: 300px;
}

.banner__image{

    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* SECTION PAGOS */

.pagos{
    width: 100%;
    background-color: rgb(59, 241, 241);
}

.pagos__container{
    
    background-color: red;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagos__title{

    background-color: blue;
    text-align: center;
    flex: 1;
}

.pagos__imgs{

    width: 70%;
    background-color: green;
    display: flex;
    justify-content: space-around;
}

/* SECTION ARTICULOS */

.articulos{
    margin: 32px 0;
    width: 100%;
    background-color: rgb(125, 233, 75);
}

.articulos__container{
    background-color: rgb(40, 121, 24);
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.articulo__card{
    width: 20%;
    background-color: rgb(243, 172, 66);
    text-align: center;
    padding-bottom: 24px;
}

.articulo__image__container{
    background-color: black;
    width: 100%;
    height: 250px;
    margin: 0 auto;


}

.articulo__image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.articulo__content{
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    background-color: rgb(162, 162, 235);

}

.articulo__title{
    color: grey;
}

.articulo__precio{
    color: blue;
}

.articulo__button{

    width: 90%;
    height: 10%;
    border: none;
    border-radius: 8px;
    font-size: 1.07rem;
    background-color: rgb(25, 201, 2);
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;

}

.articulo__button:hover{
    background-color: rgb(23, 173, 3);
}

/* SECTION TIPS */

.tips{
    background-color: aqua;
    width: 100%;
    margin-bottom: 32px;
}

.tips__container{
    background-color: red;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.tip__card{
    width: 50%;
    background-color: rgb(186, 68, 255);
    display: flex;
}

.tip__image__container{
    width: 35%;
    height: 100%;
}
.tip__image{
    width: 100%;
    height: 100%;
}

.tip__content{
    width: 50%;
    padding: 16px;    
}

/* FOOTER */

footer{
    width: 100%;
    background-color: rgb(247, 146, 146);
    margin-top: auto;

}

.footer__container{
    width: 90%;
    height: 150px;
    background-color: red;
    margin: 0 auto;
    text-align: center;
}