* {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 20vh;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 2px 2px 50px 2px rgba(92, 92, 92, 0.911);
}

/* HEADER */
.header__container{


    width: 100%;
    height: 100%;
    background-color: #f1f2fa;
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 

}


.header__search{

    width: 90%;
    min-height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.header__form{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 8px;
}

.header__input{
    
    width: 100%;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 1.07rem;
    border-radius: 8px;
}

.header__button{
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255);
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px;
    font-size: 1.07rem;
    cursor: pointer;
}

.header__perfil{
    width: 20;
    position: relative;
    box-sizing: border-box;
}


.header__menu{
    margin-top: 16px;
    position: absolute;
    width: 210px;
    background-color: rgb(255, 255, 255);
    display: none;
    right: 5px;
    border-radius: 8px;
}

.header__list{
    width: 100%;

}

.header__item{
    font-size: 1rem;
    text-align: center;
    margin: 8px 0px;
    padding: 8px;
}

.header__item:hover{
    background-color: #f1f2fa;
}



.header__button-menu{
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit; 
    font-size: 1rem;


}

.carrito__icon{
    cursor: pointer;
    position: relative;
}

.carrito__icon__count{

    position: absolute;
    left: 15px;
    top: -15px;
    background-color: #55e955;
    padding: 4px;
    border-radius: 8px;
    font-size: 0.9rem;
    display: none;
}

.carrito__container{
    margin-top: 16px;
    padding: 16px 0;
    position: absolute;
    width: 300px;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    right: -50px;
    border-radius: 8px;
    display: none;

    /* cuando usamos flex agregando un articulo */
    flex-direction: column;
    justify-content: space-between;
}

.container--minheight{
    min-height: 250px;
}

.carrito__content{
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.carrito__card{
    display: flex;
    width: 90%;
    background-color: rgba(85, 233, 85, 0.842);
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 8px;
}

.carrito__img{
    width: 30%;
    height: 60px;
    object-fit: contain;
}

/* .carrito__title{
} */
.carrito__cantidad{
    width: 20%;
    text-align: center;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0)

}

.carrito__buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 90%;
    margin: 0 auto;
}

.carrito__button{

    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 1.07rem;
    cursor: pointer;
    width: 60%;
    text-align: center;
    color: white;
}

.button--red{
    background-color: rgb(238, 73, 8);
    cursor: pointer;

}

.button--green{
    background-color: rgb(48, 218, 48);
}

.button--vacio{
    cursor: default;
}


/* 
.principal--red{
} */

.header__session{
    color: rgb(77, 77, 77);
}

.header__session:hover{
    color: rgb(0, 0, 0);
}



/* NAVBAR */
.navbar{

    background-color: rgb(83, 162, 236);
    width: 100%;
    flex: 1;
}

.navbar__list{
    background-color: rgb(85, 233, 85);
    height: 100%; /* Definir una altura */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__item a{
    font-size: 1.1rem;
    color: white;
    transition: text-shadow 0.3s;
}

.navbar__item a:hover{
    text-shadow: 0px 0px 10px black;
}

main{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}

/* SECTION BANNER */
.banner{

    width: 100%;
    background-color: aqua;
}

.banner__container{
    width: 100%;
    height: 300px;
}

.banner__image{

    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* SECTION PAGOS */

.pagos{
    width: 100%;
    background-color: #f1f2fa;
}

.pagos__container{
    
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

.pagos__title{

    /* background-color: blue; */
    text-align: center;
    flex: 1;
    font-size: 1.6rem;
}

.pagos__containerIMG{

    width: 70%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
}
.pagos__img-container{

    background-color: white;
    padding: 8px;
    width: 220px;
    height: 70px;
    border: 2px solid grey;
    border-radius: 8px;
}


.pagos__img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

/* SECTION ARTICULOS */

.articulos{
    width: 100%;
    margin: 16px 0px;

}

.articulos__title{
    font-size: 2.1rem;
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #c7c7c7, 4px 4px 0 #00ff00
}

.articulos__container{
    padding: 64px 0px;
    background-color: #ccf2e0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgb(95, 95, 95);
}

.articulo__card{
    width: 20%;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding-bottom: 24px;
    border-radius: 16px;
    box-shadow: 2px 2px 10px 1px rgba(139, 139, 139, 0.671);
}

.articulo__image__container{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.articulo__image{
    width: 100%;
    height: 100%;
    border: transparent;
    object-fit: contain;
    
}

.articulo__content{
    width: 90%;
    margin: 0 auto;
    margin: 16px; 

}

.articulo__title{
    color: #1825aa;
    margin: 4px 0;
}

.articulo__precio{
    color: #252525;
}

.articulo__button{

    width: 90%;
    height: 10%;
    border: none;
    border-radius: 8px;
    font-size: 1.07rem;
    background-color: #40d640;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;

}

.articulo__button:hover{
    background-color: rgb(23, 173, 3);
}


.articulo__button--NoStock{
    color: white;
    background-color: rgb(238, 62, 62);
    padding: 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

/* SECTION TIPS */

.tips{
    width: 100%;
    margin: 32px 0px;
    margin-bottom: 64px;
}

.tips__title{
    font-size: 2.1rem;
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #c7c7c7, 4px 4px 0 #00ff00
}

.tips__container{
    background-color: #f1f2fa;
    padding: 32px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
}

.tip__card{
    width: 45%;
    background-color: #ccf2e0;
    display: flex;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 1px rgba(82, 82, 82, 0.74);
}

.tip__image__container{
    width: 35%;
    height: 100%;
}
.tip__image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.tip__content{
    width: 50%;
    padding: 16px;   
    display: flex;
    align-items: center;
}

.tip__parrafo{
    text-align: left;
    text-wrap: balance;

}
/* FOOTER */

footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: auto;
    position: relative;
    color: greys;
}

.footer__container{
    background: linear-gradient(to bottom, #f1f2fa, #ffffff);
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__title{
    text-align: left;
}

.footer__list{
    text-align: left;
}

.footer__listRedes{
    display: flex;
    gap: 8px;
    font-size: 2rem;
}

.footer__item a{
    color: black;
}


.footer__item a:visited{
    color: black;
}


.footer__parrafo{
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid black;
    font-size: 1rem;
    text-align: center;
    padding-top: 16px;

}