.edit{
}

.edit__overlay{
    width: 50%;
    height: 100%;
    position: fixed;    
    width: 100%;
    background-color: rgba(41, 41, 41, 0.61);
    z-index: 100;
    display: flex;
    align-items: center;
}

.edit__container{
  
    width: 30%;
    padding: 32px;
    background-color: rgb(230, 230, 230);
    margin: 0 auto;
    border-radius: 8px;
    
}

.edit__title{
    margin-bottom: 16px;
}

.edit__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    
}

.edit__form label{
    margin-left: 0px;
}

.edit__form input{
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px;
}

.button__principal{
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 1.07rem;
    background-color: rgb(25, 201, 2);
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button__principal:hover{
    background-color: rgb(23, 173, 3);
}

