<div class="header__container">
    <div class="header__search">
        <a id="logo__href" href="">
            <img class="header__logo" src="" alt="Logo-pagina">
        </a>
        <form id="formSearch" class="header__form">
            <input id="inputSearch" class="header__input" type="search" placeholder="Buscar por articulo, categoría.">
            <!-- cambiar a un icon -->
            <button class="header__button" type="submit">Buscar</button>
        </form>
        
        <div class="header__perfil">
       
            <a class="header__session" href="/cliente/templates/auth/login.html">
                Ingresar
            </a>

            <div class="header__menu">
                <a class="header__button-menu" href="../../../cliente/templates/user/user_me.html">Ver perfil</a>
                <button id="button-logout" class="header__button-menu header__button-menu--logout">Cerrar sesión</button>
            </div>
        </div>
    
    </div>

    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="">
                    Categorias
                </a></li>
            <li class="navbar__item">
                <a href="">
                    Productos
                </a>
            </li>
            <li class="navbar__item">
                <a href="">
                    Contacto
                </a>
            </li>

        </ul>

    </nav>

</div>