<div class="header__container">
    <div class="header__search">
        <a id="logo__href" href="#">
            <img class="header__logo" src="./cliente/resources/images/gota-logo.png" alt="Logo-pagina">
        </a>
        <form id="formSearch" class="header__form">
            <input id="inputSearch" class="header__input" type="search" placeholder="Buscar por articulo, categoría.">
            <!-- cambiar a un icon -->
            <button class="header__button" type="submit">Buscar</button>
        </form>
        
        <div class="header__perfil">
       
            <a class="header__session" href="">
                Ingresar
            </a>

            <div class="header__menu">
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__button-menu" href="">Ver perfil</a>
                    </li>
                    <li class="header__item">
                        <button id="button-logout" class="header__button-menu">Cerrar sesión</button>
                    </li>
                </ul>
            </div>

         
        </div>
        

        <div class="carrito">

            <i class="carrito__icon fa-solid fa-cart-shopping">
                <span class="carrito__icon__count"></span>
            </i>
            
            <div class="carrito__container">
                <div class="carrito__content">
                    <!-- <div class="carrito__card">
                        <img class="carrito__img" src="./cliente/resources/images/efectivo.png" alt="Imagen">
                        <h3 class="carrito__title">Titulo</h3>
                        <input class="carrito__cantidad" type="number" value="1" min="1" max="99">
                    </div>
                    <div class="carrito__card">
                        <img src="" alt="Imagen">
                        <h3>Titulo</h3>
                    </div>
                    <p>asdf</p> -->

                </div>

                <div class="carrito__buttonContainer">
                    <button id="carritoVaciarAgregar" class="carrito__button button--red"></button>
                    <a href="" id="carritoComprar" class="carrito__button button--green">Comprar</a>
                </div>

            </div>
        </div>
    
    </div>

    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="">Categorias</a>
            </li>
            <li class="navbar__item">
                <a id="productos" href=""> Productos</a>
            </li>
            <li class="navbar__item">
                <a href="">Contacto</a>
            </li>

        </ul>

    </nav>

</div>