<div class="header__container">
    <div class="header__search">
        <a href="./index.html">
            <img class="header__logo" src="asdf" alt="Logo-pagina">
        </a>
        <form id="formSearch" class="header__form">
            <input id="inputSearch" class="header__input" type="search" placeholder="Buscar por articulo, categoría.">
            <!-- cambiar a un icon -->
            <button class="header__button" type="submit">Buscar</button>
        </form>
        
        <a class="header__session" href="./cliente/templates/auth/login.html">
            Ingresar
        </a>
        
    </div>
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="">
                    Categorias
                </a></li>
            <li class="navbar__item">
                <a href="">
                    Productos
                </a>
            </li>
            <li class="navbar__item">
                <a href="">
                    Contacto
                </a>
            </li>

        </ul>

    </nav>

</div>