main{
    min-height: 80vh ;
}

.comprar{
    background-color: rgb(243, 164, 164);
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    gap: 8px;
}

.comprar__container{
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* .comprar__title{
} */

/* table */

.comprar__table{
    padding: 16px 0;
    background-color: greenyellow;
    table-layout: fixed; /* Distribución fija */
    width: 100%;
}

th, td {
    width: 200px; /* Ancho fijo para columnas */
}

th:first-child{
    background-color: green;
}

.comprar__listHead{

    width: 100%;
    display: flex;
    gap: 16px;
    border-bottom: 2px solid rgb(94, 94, 94);
    box-sizing: border-box;

}


.comprar__itemImg{
    display: flex;
    background-color: red;
    margin-right: auto;
}


/* .comprar__cardTtitle{
} */

.comprar__itemHead{
    background-color: rgb(88, 88, 240);
}




.comprar__card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 32px;
    background-color: rgb(239, 239, 245);
    margin: 16px 0;
    border-radius: 8px;
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.comprar__card td {
    text-align: center;
}

.comprar__cardImg__Container{
    background-color: red;
    padding: 8px;

}

.comprarNombre::first-letter{
    text-transform: uppercase;
}


.comprar__cantidad{
    text-align: center;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

/* comprar resumen */
.comprar__resumen{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 32px 16px;
    position: relative;
    top: 70px;
    left: 30px;
    width: 20%;
    min-height: 300px;
    box-shadow: 2px 2px 10px rgb(136, 136, 136);
}

/* .comprar__resumenTitle{
    
} */

.comprar__resumen__Content{
    margin-top: 32px;
}

.comprar__resumen__subContent{
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    color: rgb(94, 94, 94);
    border-bottom: 2px solid rgb(161, 161, 161);
}

.comprar__resumen__total{
    /* background-color: rgb(252, 67, 67); */
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    font-size: 1.7rem;
    font-weight: bold;
}



.comprar__resumen__button{
    width: 90%;
    background-color: rgb(94, 231, 94);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}


