main{
    min-height: 80vh ;
}



.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;    
    top: 0;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.61);
    z-index: 20;
    align-items: center;
    /* display: none; */
    display: none;
}

.overlay__container{

    background-color: rgb(97, 253, 118);
    width: 25%;
    height: 25%;
    margin: auto;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay__parrafo{

}

.overlay__button{
    margin-top: 16px;    
    background-color: rgb(82, 82, 82);
}


.comprar{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.comprar__container{
    width: 73%;
    display: flex;
    flex-direction: column;
}

/* .comprar__title{
} */

/* table */

.comprar__table{
    padding: 16px 0;
    table-layout: fixed; /* Distribución fija */
    width: 100%;
}

th, td {
    width: 200px; /* Ancho fijo para columnas */
}

.comprar__listHead{

    width: 100%;
    display: flex;
    gap: 16px;
    border-bottom: 2px solid rgb(94, 94, 94);
    box-sizing: border-box;

}


.comprar__itemImg{
    display: flex;
    background-color: red;
    margin-right: auto;
}


/* .comprar__cardTtitle{
} */

.comprar__itemHead{
    /* background-color: rgb(88, 88, 240); */
}




.comprar__card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 32px;
    background-color: rgba(226, 226, 226, 0.521);
    margin: 16px 0;
    border-radius: 8px;
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 1px rgba(165, 165, 165, 0.678);
    box-sizing: border-box;

}

.comprar__card td {
    text-align: center;
}

.comprar__cardImg__Container{
    background-color: red;
    padding: 8px;

}

.comprarNombre::first-letter{
    text-transform: uppercase;
}

.comprar__cardHref:hover{
    font-weight: 600;
}

.comprar__cantidad{
    text-align: center;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

/* comprar resumen */
.comprar__resumen{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 32px 16px;
    position: relative;
    top: 70px;
    width: 22%;
    min-height: 300px;
    box-shadow: 2px 2px 10px rgb(136, 136, 136);
}

/* .comprar__resumenTitle{
    
} */

.comprar__resumen__Content{
    margin-top: 32px;
}

.comprar__resumen__subContent{
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    color: rgb(94, 94, 94);
    border-bottom: 2px solid rgb(161, 161, 161);
}

.comprar__resumen__total{
    /* background-color: rgb(252, 67, 67); */
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    font-size: 1.7rem;
    font-weight: bold;
}



.comprar__resumen__button{
    width: 90%;
    background-color: rgb(94, 231, 94);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}


