* {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(235, 193, 193);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    background-color: red;
}

.login{
    background-color: rgb(92, 255, 77);
    width: 60%;
    margin: auto;
}

.login__container{
    background-color: aqua;
    width: 25%;
    margin: auto;
}

.login__title{
    text-align: left;
    margin-bottom: 16px;
}

.login__form{
    background-color: rgb(175, 105, 105);
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.login__label{
    font-size: 18px;
}

.login__input{
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 4px 0;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin-bottom: 16px;
}

.login__button{
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 1.07rem;
    background-color: rgb(25, 201, 2);
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 4px;
}

