<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <link rel="stylesheet" href="../../styles/main.css">
</head>
<body>

    <header id="header">


    </header>

    <main>
   

        <section class="articulos">

            <div class="articulos__container">
                
                <div class="articulo__card">
                    <a href="./templates/articulos/articulo_detail.html">
                        <div class="articulo__image__container">
                            <img class="articulo__image" src="./resources/articulos/articulo_limpieza.jpg" alt="imagen">
                        </div>
                        <div class="articulo__content">
                            <h3 class="articulo__title">Nombre articulo</h3>
                            <p class="articulo__precio">43434</p>
                        </div>
                    </a>
           
                    <button class="articulo__button" type="button">Agregar</button>
                </div>

            </div>

        </section>

    </main>

    <footer>
        <div class="footer__container">
            <p>Leonel Rodriguez</p>
        </div>
    </footer>

    <script type="module" src="../../js/search.js"></script>

</body>
</html>