<div class="editPanel__overlay">

    <div class="editPanel__container">
        <h2 class="editPanel__title">Editar Articulo: <span id="editPanel__idObject"></span></h2>

        <form class="editPanel__form" enctype="multipart/form-data">

            <!-- generar inputs -->
            <!-- <label for="ciudad">Elige una ciudad:</label>
            <select id="ciudad" name="ciudad">
                <option value="Madrid">Madrid</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Valencia">Valencia</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Bilbao">Bilbao</option>
            </select> -->

            <button class="editPanel__button" type="submit">Enviar</button>
        </form>
    </div>

</div>